# Игнорируем файлы окружения
.env

# Игнорируем скомпилированные файлы Python
__pycache__/
*.pyc

# Игнорируем базу данных
bot.db

# Игнорируем временные файлы редакторов
*.swp
*~

# Игнорируем файлы логов
*.log

# Игнорируем файлы IDE и редакторов
.idea/
.vscode/

# Игнорируем файлы дистрибутива
dist/
build/
*.egg-info/

# Игнорируем файлы виртуального окружения
venv/
.env/

# Игнорируем файлы запуска
start.bat
start.sh